{# src/SEB/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "@GSEBMain/layout.html.twig" %}

{% block body %}

  <h2>{{ demande.sujet }}</h2>
  <i>Par {{ demande.contact.nom }} {{ demande.contact.prenom }}, le {{ demande.date|date('d/m/Y') }}</i>

  <div class="well">
    Action :  {% if demande.action == 1 %} Ajout d'un équipement <br> {% endif %}
              {% if demande.action == 2 %} Modification d'un équipement <br> {% endif %}
              {% if demande.action == 3 %} Suppression d'un équipement <br> {% endif %}
    Nom de l'équipement : {{ demande.object.name }} <br>
    Contact : 
    <ul>
      <li>  Identité : {{ demande.contact.nom }} {{ demande.contact.prenom }} </li>
      <li>  Adresse mail : {{ demande.contact.mail }} </li>
      <li>  Telephone : {{ demande.contact.telephone }} </li>      
      <li>  Societe : {{ demande.contact.societe }} </li>
      <li>  Poste : {{ demande.contact.fonction }} </li>  
    </ul>

  </div>

  <p>
    <a href="{{ path('gseb_demande_editdellist') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>
{% endblock %}
